.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleFont {
  font-family: 'Josefin Sans', sans-serif;
}

.ant-menu-item-selected {
  color: #ad2102 !important;
}

.ant-menu-item-selected:after {
  border-bottom-color: #ad2102 !important;
}

.ant-menu-item-active:after{
  border-bottom-color: #ad2102 !important;
  color: #ad2102 !important;
}

.ant-segmented-item-selected {
  background-color: #ffd591 !important;
}

.ant-segmented-thumb-motion-appear {
  background-color: #ffd591 !important;
}

.ant-table-cell {
  background-color: #fff7e6 !important;
}

.ant-table-thead .ant-table-cell {
  background-color: #ffc069 !important;
}